/* sass --watch /Users/Grace/Misc.\ Files/Portfolio/Site/css:/Users/Grace/Misc.\ Files/Portfolio/Site/css */
/* edit about me blurb to have 1 column 3 row text for tablet view */

$coral: #f37053;
$coral-A: rgb(243, 112, 83, 0.5);
$purple: #522e91;
$salmon: #fee6d3;

$serifLogo: playfair-display, serif;
$serifDisplay: freight-display-pro;
$sansSerifDisplay: degular,sans-serif;

$breakpoint-mobile: 0px;
$breakpoint-tablet: 481px;
$breakpoint-desktop: 767px;

* {
	text-decoration: none;
		@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
			box-sizing: border-box;
	}
}
::selection {
	background-color: $coral-A;
}
body {
	height: 100%;
	background-color: $salmon;	
	margin: 0 20px 0px 20px;
	font-size: 100%;
	scroll-behaviour: smooth;
	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		margin: 0 0 0 20px;
	}	
}
#about {
	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		margin: 0 20px 0 20px;
	}		
}
p {
	font-family: $sansSerifDisplay;
	font-size: 90%;
	margin: 0;
}
.container {
	width: 100%;
	overflow-x: hidden;	
	display: grid;
	grid:
		[row1-start] "header" auto[row1-end]
		[row2-start] "sidebar" auto [row2-end]
		[row3-start] "main" auto [row2-end]
		[row4-start] "footer" auto [row3-end]
		/ 100%;
	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		grid:
		[row1-start] "header main" auto [row1-end]
		[row2-start] "sidebar main" 1fr [row2-end]
		[row3-start] "footer main" auto [row3-end]
		/ 1fr 3fr;
		width: 100%;
		max-height: 100vh;
		min-height: 100vh;
	}	
	gap: 20px;
	align-items: start;
	box-sizing: border-box;
}
#header, #sidebar, #main-content, #footer {
	display: flex;
	flex-flow: row wrap;
}
#header {
	width: calc(100vw - 40px);
	grid-area: header;
 	position: fixed;
	top: 0;	
	left: 20px;
	right: 20px;
	background-color: $salmon;
	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		width: auto;	
		position: relative;
		left: 0;
		right: 0;
	}	
}
#sidebar {
	grid-area: sidebar;
	justify-content: center;
}
#main-content {
	grid-area: main;
	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		max-height: 100%;
		min-height: 100%;
		overflow: scroll;
	}
}
#about #main-content {
	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
	padding-bottom: 20px;
	}
}
#about-me {
	display: grid;
	grid:
		[row1-start] "intro" auto [row1-end]
		[row2-start] "bio" auto [row2-end]
		[row3-start] "experience" auto [row3-end]
		[row4-start] "skills" auto [row4-end]
		[row5-start] "contact" auto [row5-end]		
		/ 100%;	
	gap: 20px;
	align-content: start;			
	@media screen and (min-width: $breakpoint-tablet) {
		grid:
		[row1-start] "intro" auto [row1-end]
		[row2-start] "bio" auto [row2-end]
		[row3-start] "experience" auto [row3-end]
		[row4-start] "skills" auto [row4-end]
		[row5-start] "contact" 1fr [row5-end]
		/ auto;
		width: 100%;
		max-height: 100%;
		min-height: 100%;
	}	
	@media screen and (min-width: $breakpoint-desktop) {
		grid:
		[row1-start] "intro intro intro" auto [row1-end]
		[row2-start] "bio experience skills" 1fr [row2-end]
		[row3-start] "contact contact contact" auto [row3-end]
		/ auto;
		width: 100%;
		max-height: 100%;
		min-height: 100%;
	}		
}
#footer {
	grid-area: footer;
	align-items: end;
	padding-bottom: 20px;
	align-self: end;
}
.site-logo {
	width: 100%;
	justify-content: flex-start;
	font-family: playfair-display, serif;
	font-style: normal;
	font-weight: 700;	
	font-size: 24pt;
		a {
		text-decoration: none;
	}
}
#gk {
	font-size: 36pt;
	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		font-size: 40pt;
	}	
}
.menu-link {
	font-family: degular,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.25em;
	padding: 0px 0px 0px 20px;
		a {
			color: grey;
		}

		@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		font-size: 1em;
		padding: 20px 20px 0px 0px;
	}
}
.icon {
	height: 20px;

	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		height: 20px;
		}
}
#header-nav {
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;	

	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		flex-flow: row wrap;
		box-sizing: border-box;
		}	
}
#site-pages {
	width: 100%;
	display: flex;	
	justify-content: flex-end;

	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		justify-content: flex-start;		
		}	
}
#header-blurb {
	width: 100%;
	padding: 20px 0px 20px 0px;	
	border: $coral 2px;
	border-style: none none solid none;	
		@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		border-style: solid none none none;	
		grid-area: intro;
		}
}
#about #header-blurb {
	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
	border-style: solid none none none;	
	}
}
#header-blurb > p {
	font-size: 2rem;
	font-family: $serifDisplay, serif;
	font-weight: 600;	
		@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		font-size: 2.5vw;
		font-family: $serifDisplay, serif;
		font-weight: 600;
		line-height: 1.1;		
		}
}
#footer {
	font-size: 0.75rem;
	color: grey;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a {
	color: $coral;
	&:hover {
	color: $purple;
	}
}
a.active-page {
	color: red;
}
.image-container {
	height: 100%;
	width: 100%;
	max-height: 600px;
	max-width: 1300px;
}
.image-container--circular {
	border-radius: 50%;
	text-align: center;
}
.thumbnail {
	display: block;
	width: 100%;
	object-fit: cover;	
}
.project-container {
	width: 100%;
	padding: 0px 0px 20px 0px;
	display: flex;
	flex-flow: column nowrap;
	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		margin: 0 0 0 0;
		}
}
.project-container.last {
	padding: 0;
}
.project-description {
	background-color: white;
	margin: 0px;
	padding: 20px 40px 20px 20px;
		@media screen and (min-width: $breakpoint-tablet) {
		padding: 20px 20px;
		}	
		@media screen and (min-width: $breakpoint-desktop) {
		padding: 20px 40px;
		width: 100%;
		height: 100%;
		z-index: 1;
		align-self: flex-start;
		}
}
.empty {
	width: 100%;
	background-color: white;
}
h1 {
	margin: 0 0 5px 0;
	font-family: $serifDisplay;
	font-size: 175%;	
}
h2 {
	font-size: 2rem;
	font-family: $serifDisplay, serif;
	font-weight: 600;
	margin: 0;
}
h4 {
	font-size: 1.5rem;
}
#portrait {
	width: 75%;
	padding: 20px 0px 20px 0px;	
	border-radius: 50%;
	@media screen and (min-width: $breakpoint-desktop), (min-width: $breakpoint-tablet) {
		width: 100%;
		border: $coral 2px;
		border-style: solid none none none;
		border-radius: 0%;
		}	
}
#bio {
	grid-area: bio;
}
#experience {
	grid-area: experience;
}
#skills {
	grid-area: skills;
}
#bio, #experience, #skills {
	align-self: start;
}
#contact {
	grid-area: contact;
	font-size: 100%;
	align-self: end;
}