* {
  text-decoration: none;
  box-sizing: border-box;
}

::selection {
  background-color: rgba(243, 112, 83, 0.5);
}

html {
  height: 100%;
  font-size: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-size: 100%;
  background-color: #fefcfa;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 900px) {
  body {
    font-size: 1.25rem;
  }
}

p {
  font-family: degular-text, sans-serif;
  font-size: 0.95rem;
  font-weight: 300;
  margin: 0 0 0.625rem 0;
}
@media only screen and (min-width: 481px) {
  p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  p {
    font-size: 0.95rem;
  }
}

.hide {
  opacity: 0;
}

.none {
  visibility: hidden;
}

.underline {
  text-decoration: underline;
}

#header, nav, main, .page-content, #projects-container, #footer {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#header, nav {
  position: fixed;
  top: 0;
  z-index: 99999;
  align-items: center;
  margin-top: 0.75rem;
}
@media only screen and (min-width: 481px) {
  #header, nav {
    left: 0;
    right: 0;
    padding-bottom: 0;
  }
}

main {
  justify-content: center;
}

#footer {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  margin: 0.75rem 0;
  padding: 0 1.25rem;
}
@media only screen and (min-width: 481px) {
  #footer {
    width: 100vw;
  }
}

#footer > p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #706a69;
  align-self: flex-end;
  margin: 0;
}

#gk {
  padding-left: 1.25rem;
  font-family: playfair-display, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}
@media only screen and (min-width: 481px) {
  #gk {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 900px) {
  #gk {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  #gk {
    font-size: 4rem;
    max-font-size: 6rem;
  }
}
@-moz-document url-prefix() {
  #gk {
    line-height: 1.25;
  }
}

#site-pages {
  display: flex;
  flex-flow: row nowrap;
  padding-right: 1.25rem;
  text-align: right;
}

.menu-link {
  font-family: degular, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0 0 0 1.25rem;
  color: #706a69;
}
@media only screen and (min-width: 481px) {
  .menu-link {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 900px) {
  .menu-link {
    font-size: 1.25rem;
  }
}

.normalMenuLink {
  color: black;
}
.normalMenuLink:hover {
  color: #f37053;
}

.header-blurb {
  width: 100%;
  flex-basis: 100%;
  margin: 0 0 1.25rem 0;
  font-size: 2rem;
  font-family: freight-display-pro, serif, serif;
  font-weight: 600;
  line-height: 1.2;
}
@media only screen and (min-width: 481px) {
  .header-blurb {
    margin: 0 0 1.25rem 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .header-blurb {
    margin: 1.5rem 0 1.25rem 0;
  }
}
@media only screen and (min-width: 900px) {
  .header-blurb {
    margin: 0 0 2rem 0;
    font-size: 2.7rem;
    line-height: 1.1;
  }
}
@media only screen and (min-width: 1400px) {
  .header-blurb {
    font-size: 3.25rem;
  }
}

.about-blurb {
  width: 80%;
  line-height: 1.4;
  margin-bottom: 2.25rem;
}
@media only screen and (min-width: 900px) {
  .about-blurb {
    margin-bottom: 4.5rem;
    padding: 0 10%;
  }
}

.about-page__portrait {
  width: 70%;
}
@media only screen and (min-width: 900px), (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .about-page__portrait {
    width: 40%;
  }
}

.about-page__intro-container, .misc-page__intro-container, .project-page__intro-container {
  display: flex;
  flex-flow: row wrap;
  width: calc(100vw - (1.25rem * 2));
  margin: 2.5rem 1.25rem 2rem 1.25rem;
}
@media only screen and (min-width: 481px) {
  .about-page__intro-container, .misc-page__intro-container, .project-page__intro-container {
    width: calc(100vw - (1rem + 10vw) * 2);
    flex-flow: row wrap;
    margin: 5rem 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .about-page__intro-container, .misc-page__intro-container, .project-page__intro-container {
    width: calc(100vw - (1.25rem * 2));
    margin: 2.5rem 1.25rem;
  }
}
@media only screen and (min-width: 900px) {
  .about-page__intro-container, .misc-page__intro-container, .project-page__intro-container {
    width: calc(100vw - (1rem + 10vw) * 2);
    margin: 0 0 8rem 0;
    flex-flow: row nowrap;
  }
}
@media only screen and (max-width: 900px) {
  .about-page__intro-container, .misc-page__intro-container, .project-page__intro-container {
    justify-content: center;
  }
}
@media only screen and (min-width: 1400px) {
  .about-page__intro-container, .misc-page__intro-container, .project-page__intro-container {
    width: calc(100vw - (2rem + 10vw) * 2);
    align-items: center;
  }
}

.misc-page__intro-container {
  flex-flow: row wrap;
}

.project-page__intro-container {
  align-items: flex-start;
}
@media only screen and (min-width: 900px) {
  .project-page__intro-container {
    margin: 8rem 0;
  }
}

.project-page__intro-container header {
  width: 100%;
}
@media only screen and (min-width: 900px), (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .project-page__intro-container header {
    width: 40%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .about-page__intro-container {
    margin: 4rem 1.25rem 1rem 1.25rem;
  }
}

.about-page__intro-container img {
  width: 100%;
  border-radius: 50%;
}
@media only screen and (min-width: 900px) {
  .about-page__intro-container img {
    width: 80%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .about-page__intro-container img {
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .about-page__intro-container .project-page__project-title {
    margin-top: 1.25rem;
  }
}

.project-page__project-title {
  font-size: 2rem;
  line-height: 1.125;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 481px) {
  .project-page__project-title {
    line-height: 1.2;
  }
}
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .project-page__project-title {
    line-height: 1.125;
  }
}
@media only screen and (min-width: 900px) {
  .project-page__project-title {
    font-size: 2.7rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .project-page__project-title {
    font-size: 3.25rem;
  }
}

.project-page__intro-blurb {
  width: 100%;
}
@media only screen and (min-width: 900px), (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .project-page__intro-blurb {
    width: 60%;
  }
}

.project-page__intro-blurb header {
  width: 100%;
}

.project-page__project-image, .project-page__project-video {
  width: calc(100vw - (1.25rem * 2));
  object-fit: cover;
  object-position: center;
  margin-bottom: 1.25rem;
  height: calc((100vw - 1.25rem * 2) * 0.666);
}
@media only screen and (min-width: 481px) {
  .project-page__project-image, .project-page__project-video {
    height: calc((100vw - (1rem + 10vw) * 2) * 0.666);
    width: calc(100vw - (1rem + 10vw) * 2);
  }
}
@media only screen and (min-width: 1400px) {
  .project-page__project-image, .project-page__project-video {
    height: calc((100vw - (2rem + 10vw) * 2) * 0.666);
    width: calc(100vw - (2rem + 10vw) * 2);
    max-width: 1370px;
  }
}

.project-page__project-image--fullscreen, .project-page__project-video--fullscreen {
  padding: 0;
  width: 100vw;
  height: calc(100vw * 0.666);
  margin-bottom: 1.25rem;
}

#project-blurb {
  padding: 0 1.25rem 0 0;
}

#contact {
  border-bottom: 1px solid #f37053;
}
#contact:hover {
  border-bottom: 1px solid #522e91;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}
a:hover {
  color: #f37053;
}
a:active {
  color: #f37053;
}

.purpleLink {
  color: #f37053;
}
.purpleLink:hover {
  color: #522e91;
}

.social-icon-container {
  font-size: 1.1rem;
}
@media only screen and (min-width: 900px) {
  .social-icon-container {
    font-size: 1.4rem;
  }
}

.fa-linkedin-in, .fa-envelope {
  margin-left: 0.625rem;
  color: #706a69;
}
.fa-linkedin-in:hover, .fa-envelope:hover {
  color: #f37053;
}

.thumbnail {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s ease-in-out;
}

.page-content {
  align-content: center;
  justify-content: center;
}

#carousel-container {
  width: 100%;
  min-width: 100%;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 481px) {
  #carousel-container {
    margin-bottom: 10rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  #carousel-container {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 900px) {
  #carousel-container {
    margin-bottom: 8rem;
  }
}

#content-container {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  flex: 1;
  margin-bottom: 4.5rem;
}
@media only screen and (min-width: 481px) {
  #content-container {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  #content-container {
    margin-bottom: 4rem;
  }
}

#project-carousel {
  width: 100%;
  min-width: calc(100vw - 2.5rem);
  max-width: calc(100vw - 2.5rem);
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 481px) {
  #project-carousel {
    min-width: calc(100vw - (1rem + 10vw) * 2);
    max-width: calc(100vw - (1rem + 10vw) * 2);
  }
}
@media only screen and (min-width: 900px) {
  #project-carousel {
    min-width: calc(100vw - (1rem + 10vw) * 2);
    max-width: calc(100vw - (1rem + 10vw) * 2);
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1400px) {
  #project-carousel {
    min-width: calc(100vw - (2rem + 10vw) * 2);
    max-width: calc(100vw - (2rem + 10vw) * 2);
  }
}
@media only screen and (min-width: 1790px) {
  #project-carousel {
    max-width: 1370px;
  }
}

#project-carousel.project-page {
  height: 75vh;
  align-content: center;
}
@media only screen and (max-width: 480px) {
  #project-carousel.project-page {
    padding: 4rem 0 0 0;
  }
}
@media only screen and (min-width: 481px) {
  #project-carousel.project-page {
    min-height: 100vh;
  }
}

.for-carousel {
  width: calc(100vw - 2.5rem);
  height: calc(100vw - 2.5rem);
  overflow: hidden;
  display: flex;
}
@media only screen and (min-width: 481px) {
  .for-carousel {
    width: calc(100vw - (1rem + 10vw) * 2);
    height: calc(100vw - (1rem + 10vw) * 2);
  }
}
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .for-carousel {
    width: calc(((100vw - (1rem + 10vw) * 2) - 0.625rem) * 0.5);
    height: calc(((100vw - (1rem + 10vw) * 2) - 0.625rem) * 0.5);
    margin: 0 0.625rem 0 0;
  }
}
@media only screen and (min-width: 900px) {
  .for-carousel {
    width: calc(((100vw - (1rem + 10vw) * 2) - 0.625rem) * 0.5);
    height: calc(((100vw - (1rem + 10vw) * 2) - 0.625rem) * 0.5);
    margin: 0 0.625rem 0 0;
  }
}
@media only screen and (min-width: 1400px) {
  .for-carousel {
    width: calc(((100vw - (2rem + 10vw) * 2) - 1.25rem) * 0.333);
    height: calc(((100vw - (2rem + 10vw) * 2) - 1.25rem) * 0.333);
    max-width: 450px;
    max-height: 450px;
  }
}

.for-carousel.is-selected {
  z-index: 1000;
}

.project-description {
  background-color: rgba(255, 255, 255, 0.95);
  position: relative;
  min-width: calc(100% - 1.25rem);
  min-height: calc(100% - 1.25rem);
  left: -100%;
  padding: 0 2rem 1.5rem 2rem;
  margin: 0.625rem;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  color: black;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .project-description {
    padding: 0 1.25rem;
  }
}
@media only screen and (min-width: 900px) {
  .project-description {
    padding: 0 2rem 1.5rem 2rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .project-description p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 481px) {
  .desktop-linebreak {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: freight-display-pro, serif;
  margin: 0;
}

h1 {
  display: inline-block;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}

.carousel__project-title {
  font-size: 2rem;
  flex-basis: 100%;
  line-height: 1;
}
.carousel__project-title:hover {
  color: #f37053;
}
@media only screen and (min-width: 481px) and (max-width: 900px) and (orientation: landscape) {
  .carousel__project-title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 900px) {
  .carousel__project-title {
    margin-bottom: 0.25rem;
  }
}

.category {
  font-size: 0.8rem;
  font-family: degular-text, sans-serif;
  font-weight: 300;
  color: #706a69;
  margin-bottom: 0.75rem;
  flex-basis: 100%;
}
@media only screen and (min-width: 481px) {
  .category {
    font-size: 0.95rem;
  }
}

button {
  background-color: transparent;
  font-family: degular-text, sans-serif;
  font-size: 16px;
  padding: 5px 0.625rem 5px 0.625rem;
  border-radius: 1.5rem;
  border: 1px solid #f37053;
  text-decoration: none;
  cursor: pointer;
}
button:hover {
  background-color: rgba(243, 112, 83, 0.5);
}

.about-header-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.underlined {
  border-bottom: 1px solid #f37053;
}

.flickity-button {
  background: transparent;
  bottom: 0;
}
.flickity-button:hover {
  background: transparent;
}

/* big previous & next buttons */
.flickity-prev-next-button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 108%;
}
@media only screen and (min-width: 481px) {
  .flickity-prev-next-button {
    top: 110%;
  }
}
@media only screen and (min-width: 1400px), (min-width: 900px) {
  .flickity-prev-next-button {
    width: 3rem;
    height: 3rem;
    top: 50%;
  }
}

.flickity-prev-next-button.previous {
  left: -0.2rem;
}

.flickity-prev-next-button.next {
  right: -0.2rem;
}

/* icon color */
.flickity-button-icon {
  fill: black;
}
.flickity-button-icon:hover {
  fill: #f37053;
}

/* position dots in carousel */
.flickity-page-dots {
  display: none;
}

/* white circles */
.flickity-page-dots .dot {
  display: none;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  display: none;
}
